name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # ganti sesuai branch utama kamu

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout kode
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install dependencies
      - name: Install dependencies
        run: npm install --legacy-peer-deps --no-audit --prefer-offline --no-fund

      # Build React app
      - name: Build app
        run: npm run build

      # Deploy ke GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          keep_files: true
