name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      # FIX EINTEGRITY: bersihkan cache npm
      - name: Clean npm cache
        run: npm cache clean --force

      # FIX EINTEGRITY: pakai full online registry
      - name: Set npm registry
        run: npm config set registry https://registry.npmjs.org/

      # FIX EINTEGRITY: force online install
      - name: Install dependencies
        run: npm install --legacy-peer-deps --prefer-online --no-audit --no-fund

      - name: Build app
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
