name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 游릴 INSTALL PNPM DULU
      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      # 游릴 SETUP NODE + PNPM CACHE
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'

      # 游릴 INSTALL DEPENDENCY
      - name: Install dependencies
        run: pnpm install --shamefully-hoist

      # 游릴 BUILD PROJECT
      - name: Build
        run: pnpm run build

      # 游릴 DEPLOY TO GH-PAGES
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
