name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # Ganti dengan branch utama kamu

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Remove node_modules and lock file
      run: |
        rm -rf node_modules
        rm -f package-lock.json

    - name: Clean npm cache
      run: npm cache clean --force

    - name: Install dependencies
      run: npm install --legacy-peer-deps --force

    - name: Build React app
      run: npm run build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build
